<h1>Queued for execution: "<%= @report.title %>"</h1>
job = <pre><%= @job_id.inspect %></pre>
<p/>
If you want to manipulate it in a spreadsheet, get 
<%= link_to 'the raw csv', execute_report_path(@report, :format => :csv) %> instead.
<p/>

<%= link_to 'View Results', report_path(@report) %> | 
<%= link_to 'Download csv', report_path(@report, :format => :csv) %> | 
<%= link_to 'Execute', execute_report_path(@report) %> | 
<%= link_to 'Edit Query', edit_report_path(@report) %> |
<%= link_to 'List All Reports', reports_path %>
