<p id="notice"><%= notice %></p>

<p>
  <h3>Title:</h3>
  <%= @report.title %>
</p>

<p>
<h3>Results</h3>
<ul>
  <li>Last run at <%= @report.executed_at %>.</li>
  <li>Took <%= @report.time_taken %> seconds.</li>
</ul>
  <pre><%= @report.results %></pre>
</p>

<p>
  <h3>Query:</h3>
  <pre><%= @report.query %></pre>
</p>

<%= link_to 'View Results', report_path(@report) %> | 
<%= link_to 'Download csv', report_path(@report, :format => :csv) %> | 
<%= link_to 'Execute', execute_report_path(@report) %> | 
<%= link_to 'Edit Query', edit_report_path(@report) %> |
<%= link_to 'List All Reports', reports_path %>
